.MovieGrid {
  background-color: #f7f7f7;
  padding: 20px;
}

.MovieGrid__movies {
  margin: 0;
  padding: 0;
  list-style: none;
}


.MovieGrid__content {
  max-width: 1300px;
  margin: 0 auto;
}
.MovieGrid__result {
  font-size: 22px;
  color: #4d4d4d;
  padding: 20px;
}

.MovieGrid__sort {
  color: #4d4d4d;
  font-size: 22px;
}

.button {
  border: none;
  text-transform: uppercase;
  outline: none;
  box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px 32px;
  margin-left: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.button__title {
  background-color: #00d9c6;
  color: white;

}
.button__date {
  background-color: white;
  color: black;

}
