.Header {
  background:linear-gradient(to right, #593082, #4b6ac9,#00d9c6);
  text-align: center;
  padding: 20px;
}

.Header__logo__main {
  float: left;
  padding-bottom: 50px;
}

.Header__logo {
  padding-top: 100px;
}

.Header__title {
  color: white;
  font-size: 25px;
}

.Header__search {
  padding: 10px;
}

.Header__input {
  background: transparent;
  color: #d7d7d7;
  height: 46px;
  width: 370px;
  font-size: 18px;
}

.Header__button {
  background-color: white;
  color: #00d9c6;
  border: none;
  border-radius: 5px;
  padding: 15px 32px;
  margin-left: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
