.Movie {
  background-color: white;
  padding: 20px;
  margin: 20px;
  width: 33%;
  float: left;
  display: inline-flex;
}

.Movie__desc {
  display: block;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
